[user]
	name = João Pesce
	email = jpesce@gmail.com
[color]
  diff = auto
  status = auto
  branch = auto
  interactive = auto
  ui = true
  pager = true
[core]
  pager = diff-so-fancy | less --tabs=4 -RFX
	excludesfile = ~/.gitignore
[interactive]
  diffFilter = diff-so-fancy --patch
[alias]
  graph = log --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold green)(%ar)%C(reset) %C(white)%s%C(reset) %C(dim white)- %an%C(reset)%C(auto)%d%C(reset)' --all
  submodule-add-ignore = "!f(){ REPO_NAME=`echo $1 | rev | cut -d \"/\" -f1 | rev`; git submodule add $1 ${GIT_PREFIX}$REPO_NAME; echo \"Adding ignore = all in config\"; git config submodule.${GIT_PREFIX}$REPO_NAME.ignore all; }; f"
  submodule-purge = "!f(){ git submodule deinit -f \"${GIT_PREFIX}$1\"; rm -rf .git/modules/${GIT_PREFIX}$1; git rm --f \"${GIT_PREFIX}$1\"; }; f"
