[user]
	name = João Pesce
	email = jpesce@gmail.com
	signingKey = ""
[color]
	diff = auto
	status = auto
	branch = auto
	interactive = auto
	ui = true
	pager = true
[color "diff"]
	meta = 7
	frag = 7 bold
	func = 7 bold
[core]
	pager = diff-so-fancy | less --tabs=2 -RFX
	excludesfile = ~/.gitignore
	editor = nvim
[interactive]
	diffFilter = diff-so-fancy --patch
[alias]
	graph = log --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold green)(%ar)%C(reset) %C(white)%s%C(reset) %C(dim white)- %an%C(reset)%C(auto)%d%C(reset)' --all
	; Add repo passed as argument as submodule and config it to ignore all
	; e.g. git submodule-add-ignore https://github.com/user/repo.git [path]
	submodule-add-ignore = "!f(){ SUBMODULE_PATH=${2:-$(echo $1 | rev | cut -d \"/\" -f1 | rev)}; git submodule add $1 ${GIT_PREFIX}$SUBMODULE_PATH; echo \"Adding ignore = all in config\"; git config submodule.${GIT_PREFIX}$SUBMODULE_PATH.ignore all; }; f"
	; Remove submodule completely (deinit + remove directory from .git/modules and
	; remove the directory)
	; e.g. git submodule-purge path/to/submodule
	submodule-purge = "!f(){ git submodule deinit -f \"${GIT_PREFIX}$1\"; rm -rf .git/modules/${GIT_PREFIX}$1; git rm -rf \"${GIT_PREFIX}$1\"; }; f"
	; Run a given git command in all sub-directories (that are git repos)
	; e.g. git subdirs status
	subdirs = "!f(){ ls -R -d */.git | sed \"s,\\/.git,,\" | xargs -I{} bash -c \"echo -e '\\033[0;32m→\\033[0m {}' && git -C {} $1\"; }; f"
	; Same as above but in parallel and less pretty
	; e.g. git subdirs-p fetch
	subdirs-p = "!f(){ ls -R -d */.git | sed \"s,\\/.git,,\" | xargs -P10 -I{} git -C {} $1; }; f"
[pull]
	ff = only
[push]
	autoSetupRemote = true
[gpg]
	format = openpgp
	program = gpg
[commit]
	gpgSign = false
[tag]
	forceSignAnnotated = false
[gpg "ssh"]
	program = ssh-keygen
	allowedSignersFile = ""
[init]
	defaultBranch = main
