[submodule "dotbot"]
	path = dotbot
	url = https://github.com/anishathalye/dotbot
	ignore = dirty
[submodule "zsh/.zsh/plugins/zsh-autosuggestions"]
	path = zsh/.zsh/plugins/zsh-autosuggestions
	url = https://github.com/zsh-users/zsh-autosuggestions
  ignore = dirty
[submodule "zsh/.zsh/plugins/zsh-syntax-highlighting"]
	path = zsh/.zsh/plugins/zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting
  ignore = dirty
[submodule "nvim/site/pack/filetypes/opt/vim-polyglot"]
	path = nvim/site/pack/filetypes/opt/vim-polyglot
	url = https://github.com/sheerun/vim-polyglot
[submodule "nvim/site/pack/plugins/opt/vim-cheat40"]
	path = nvim/site/pack/plugins/opt/vim-cheat40
	url = https://github.com/lifepillar/vim-cheat40
[submodule "nvim/site/pack/plugins/opt/vim-colortemplate"]
	path = nvim/site/pack/plugins/opt/vim-colortemplate
	url = https://github.com/lifepillar/vim-colortemplate
[submodule "nvim/site/pack/plugins/opt/vim-hilinks"]
	path = nvim/site/pack/plugins/opt/vim-hilinks
	url = https://github.com/kergoth/vim-hilinks
[submodule "nvim/site/pack/plugins/opt/vim-matchup"]
	path = nvim/site/pack/plugins/opt/vim-matchup
	url = https://github.com/andymass/vim-matchup
[submodule "nvim/site/pack/plugins/opt/vim-unimpaired"]
	path = nvim/site/pack/plugins/opt/vim-unimpaired
	url = https://github.com/tpope/vim-unimpaired
[submodule "nvim/site/pack/plugins/opt/vim-dirvish"]
	path = nvim/site/pack/plugins/opt/vim-dirvish
	url = https://github.com/justinmk/vim-dirvish
[submodule "nvim/site/pack/plugins/opt/vim-buftabline"]
	path = nvim/site/pack/plugins/opt/vim-buftabline
	url = https://github.com/ap/vim-buftabline
[submodule "nvim/site/pack/plugins/opt/vim-fugitive"]
	path = nvim/site/pack/plugins/opt/vim-fugitive
	url = https://github.com/tpope/vim-fugitive
[submodule "nvim/site/pack/plugins/opt/fzf.vim"]
	path = nvim/site/pack/plugins/opt/fzf.vim
	url = https://github.com/junegunn/fzf.vim
[submodule "nvim/site/pack/plugins/opt/AutoComplPop"]
	path = nvim/site/pack/plugins/opt/AutoComplPop
	url = https://github.com/vim-scripts/AutoComplPop
[submodule "nvim/site/pack/plugins/opt/vim-vinegar"]
	path = nvim/site/pack/plugins/opt/vim-vinegar
	url = https://github.com/tpope/vim-vinegar
[submodule "nvim/site/pack/plugins/opt/vim-surround"]
	path = nvim/site/pack/plugins/opt/vim-surround
	url = https://github.com/tpope/vim-surround
[submodule "nvim/site/pack/plugins/opt/vim-commentary"]
	path = nvim/site/pack/plugins/opt/vim-commentary
	url = https://github.com/tpope/vim-commentary
[submodule "nvim/site/pack/plugins/opt/asyncomplete.vim"]
	path = nvim/site/pack/plugins/opt/asyncomplete.vim
	url = https://github.com/prabirshrestha/asyncomplete.vim
[submodule "nvim/site/pack/plugins/opt/asyncomplete-buffer.vim"]
	path = nvim/site/pack/plugins/opt/asyncomplete-buffer.vim
	url = https://github.com/prabirshrestha/asyncomplete-buffer.vim
[submodule "nvim/site/pack/plugins/opt/asyncomplete-file.vim"]
	path = nvim/site/pack/plugins/opt/asyncomplete-file.vim
	url = https://github.com/prabirshrestha/asyncomplete-file.vim
[submodule "nvim/site/pack/plugins/opt/asyncomplete-omni.vim"]
	path = nvim/site/pack/plugins/opt/asyncomplete-omni.vim
	url = https://github.com/yami-beta/asyncomplete-omni.vim
[submodule "nvim/site/pack/plugins/opt/asyncomplete-tags.vim"]
	path = nvim/site/pack/plugins/opt/asyncomplete-tags.vim
	url = https://github.com/prabirshrestha/asyncomplete-tags.vim
[submodule "nvim/site/pack/filetypes/opt/vim-jsonc"]
	path = nvim/site/pack/filetypes/opt/vim-jsonc
	url = https://github.com/jpesce/vim-jsonc
[submodule "nvim/site/pack/colors/opt/onedark.nvim"]
	path = nvim/site/pack/colors/opt/onedark.nvim
	url = https://github.com/navarasu/onedark.nvim
[submodule "nvim/site/pack/plugins/opt/vim-eunuch"]
	path = nvim/site/pack/plugins/opt/vim-eunuch
	url = https://github.com/tpope/vim-eunuch
[submodule "nvim/site/pack/plugins/opt/vim-prj"]
	path = nvim/site/pack/plugins/opt/vim-prj
	url = https://github.com/emersonmx/vim-prj
[submodule "nvim/site/pack/plugins/opt/vim-sonic-pi"]
	path = nvim/site/pack/plugins/opt/vim-sonic-pi
	url = https://github.com/lilyinstarlight/vim-sonic-pi
